// index
.busi-index-box{
    
    font-size: 14px;
    margin-top: 28px;
    justify-items: center;
    align-items: center;
    
}

.busi-index-box2{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 28px;
    margin-right: 28px;
    
}

.items-box{
  margin-right: 50px;
}

// Index item
.index-item-box {
    display: flex;
    align-items: center;
    height: 300px;
    border-top: 1px solid rgba(221, 221, 221, 0.966);
    font-size: 15px;
    width: 700px;

}
.index-item-box:hover {
    box-shadow: 2px 2px 12px #0c0a0a;
}
.index-big-box{
    display: flex;
    flex-direction: row;
}
.index-photo{
    border-radius: 3px;
    border: 1px solid #bdbdbdf8;
    width: 240px;
    height: 240px;
    margin-left:14px;
}
.photo{
    height: 100%;
    display: block;
    object-fit: cover;

}
.info-box{
    margin-left: 16px;
    width: 500px;
}

.info-top-box{
    display: flex;
    height: 45%;
    flex-direction: row;
}

.info-top-left{
    border: green;
    width: 50%;
}

.item-name{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-top: 0px;
    color: #314f8a;
    font-size: 28px;
    font-weight: 1000;
    margin-bottom: 5px;
    
}

.item-name:hover{
    color:red;
}

// index item details
.price { 
    margin-top:5px;
    font-weight: normal;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
     color: rgba(117,114,128,1);
    
    
}

.info-item-box{
    margin-top: 5px;
    width: 50%;
    // text-align: end;
    margin-left: 75px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.info-item-icon-box{
    display: flex;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.info-item-icon-box div{
    margin-right: 15px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.binfo-box{
    width: 425px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    // color: #9a99a3;
    font-weight: normal;
    color: rgba(117,114,128,1);
}

.busi-intro{
     font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 22px;
    margin-left: 30px;
    margin-top: 5x;
    margin-bottom: 15px;
    font-weight: 900;
}