// index
.busi-index-box{
    
    font-size: 14px;
    margin-top: 28px;
    justify-items: center;
    align-items: center;
    
}

.busi-index-box2{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 28px;
    margin-right: 28px;
    
}

.items-box{
  margin-right: 50px;
}

// Index item
.index-item-box {
    display: flex;
    align-items: center;
    height: 300px;
    border-top: 1px solid rgba(221, 221, 221, 0.966);
    font-size: 15px;

}
.index-item-box:hover {
    box-shadow: 2px 2px 12px #0c0a0a;
}
.index-big-box{
    display: flex;
    flex-direction: row;
}
.index-photo{
    border-radius: 3px;
    border: 1px solid #bdbdbdf8;
    width: 240px;
    height: 240px;
    margin-left:14px;
}
.photo{
    height: 100%;
    display: block;
    object-fit: cover;

}
.info-box{
    margin-left: 16px;
    width: 375px;
}

.info-top-box{
    display: flex;
    height: 45%;
    flex-direction: row;
}

.info-top-left{
    border: green;
    width: 45%;
}

.item-name{
    margin-top: 50px;
    color: #314f8a;
    font-size: 20px;
    font-weight: bold;
    
}

// index item details
.price { 
    margin-top:10px;
}

.info-item-box{
    margin-top: 50px;
    width: 50%
}

// show
.show-box{
    border: solid yellow;
    display: flex;
    justify-content: center;
}

.show-box2{
    border: solid red;
    width: 33.3%;
    height: 350px;
}

.show-bname{
    border: green;
}

.details-list{
    border: blue;
}

