// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rev-box{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 800px;
}
.photo-box{
     margin: 5px;
}
.face-photo{
    height: 70px;
    width: 70px;
}

.rev-author{
    flex-direction: column;
    justify-content: space-between;
}

.author-name{
    font-weight: bold;
    font-size: 20px;
}
.time-stamp{
    font-weight:lighter;
    font-size: 12px;
    text-align: end;
    
}

.rev-body{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 3px;
    font-size: 20px;
    width: 650px;
    line-height: 22px; 
}

.review-btn-box{
    text-align: end;
    padding-top: 25px;
}

.del-btn{
    text-align: end;
    background-color: #fff;
    color: gray;
    transition-delay: .2s;
    font-weight: bold;
    padding-right: 25px;
    cursor: pointer;
    
}

.rev-btn-place{
    padding-right: 24px;
    font-size: 30px;
    font-weight: bold;
}