// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rev-box{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 800px;
}
.rev-author{
    display: flex;
    justify-content: space-between;
}

.author-name{
    font-weight: bold;
    font-size: 20px;
}
.time-stamp{
    font-weight:lighter;
    font-size: 12px;
    
}
.review-stars{

}
.rev-body{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    font-size: 15px;
    width: 650px;
    line-height: 22px; 
}