.homes-bar {
  width: 100%;
  display: flex;
  height: 45px;
  background: white;
  font-size: 14px;
  border-color: white;
  border: 1px;
  border-radius: 5px;
}

.home-flex{
  flex: 1;
  display: flex;
}

.home-title{
  font-size: 20px;
  font-weight: bold;
  color: #666;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.s-flex-n{
  font-size: 20px;
  font-weight: bold;
  color: #666;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-left: 1px solid rgb(221, 221, 221);
}

.s-flex{
  flex: 1;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.s-flex-input{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.home-search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    

}
.homesearch{
    width: 60%;
    
}
.s-submit{
  width: 65px;
  height: 100%;
  background: #bd1f1f;
  color: white;
  text-align: center;
  border-radius: 0 5px 5px 0;
  font-size: 20px;
}
.home-search-submit:hover{
    font-size: 22px;
    background: red;
}

.business-s {
  font-size: 20px;
  width: 100%;
}

.busi-s {
  font-size: 20px;
  color: black;
  width: 100%;
}