// show
.show-box{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 325px;
}
.show-img{ 
    height: 100%;
}
.showbigbox{
    display: flex;
    justify-content: space-between;
}

.imap-box{
    border: black;
    padding: 0px;
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-top: .5rem;
    margin-bottom: 3rem;
}
.show-box2{
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: fit-content;
    padding-top: 40px;
}
    
.show-top{
    border: blue;
    width: 600px;
    height: 150px;
    display: flex;
    float: left;
    display: block;
}   

.show-top-info{
    border: red;
}
.show-top-info p:first-child{
     font-weight: 650;
    font-size: 40px;
    line-height: 36px;
    color: #122477;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.rating > i {
    background-color: rgb(223, 27, 27);
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 2px;
    text-align: center;
    color: white;
    font-family: "Font Awesome 5 Free";
}


.biz-info-category{
    display: flex;
}

.biz-info-category > span {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 380;
    font-size: 15px;
    line-height: 18px;
    color: #7c7988;
    padding-left: 5px;
}
.top-writeareview{
    display: block;
    width: 130px;
    text-align: center;
    line-height: 20px;
    color: #dd2626;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.918);
    border-radius: 5px;
    font-weight: 650;
    font-size: 13px;
    margin-top: 7px;
}

.contact-info{
    font-weight: 500;
    font-size: 15px;
    color: #252525;
    padding-left: -5px;
    padding-top: 16px;
    padding-bottom: 16px;
}


.mid-header{
    display: block;
    width: 800px;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 650;
    font-size: 30px;
    line-height: 36px;
    color: #122477;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.hours-box{
    display: flex;
    justify-content: space-between;
}
.showmap{
    height: auto;
    width: 50%;

}

.business-show-hours{
    
    padding: 0px;
    display: flex;
    width: 45%;
    flex-direction: column;
    padding-top: .5rem;
    margin-bottom: 3rem;
}


.week-items{
    display: flex;
    margin-bottom: 2.5px;
    font-size: 20px;
    color: #1b1b1b;
}

.day{
    padding-right: 1px;
    font-weight: bold;
    min-width: 100px;
}

.time{
    margin-left: 5px;
    font-weight: 300;
}

// reviews
.rev-container {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: fit-content;
    padding-top: 0px;  
}

.bis-reviews{
    display: block;
    width: 800px;
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #122477;
}
    .rev-index-box{
    
    display: block;
    }