.login-signup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.director-signup {
    background: transparent;
    box-shadow: none;
    border-radius: 4px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    margin-top: 12px;
    margin-right: 35px;
    padding: 12px 26px 12px;
}
.director-login {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-top: 12px;
    margin-right: 35px;
    padding: 12px 26px 12px;
}
/* the two headers */
.handlelogout-bar {
    display: flex;
    justify-content: flex-end;
    /* margin: 0 auto; */
    width: 100%;
    height: 50px;
    /* padding: 32px;   */
    /* align-items: center;  */
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.currentuserbar {
    font-size: 14px;
    color: #fff;
    padding: 10px 10px;
    margin-top: 10px;
}

.logout-button {
    color: black;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-right: 50px;
}
.right {
    display: flex;
    align-items: center;
}
.left > * {
    margin-right: 1.5rem;
} 

.right > * {
    margin-left: 1.5rem;
}

.ramen {
    position: absolute;
    z-index: -1;
}

.nav-bar-category-item:hover{
    color:red;
}
