// logos and image 
.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.logo1{
    width: 200px;
    height: auto;
    text-indent: -1000em;
    margin-left: auto;
    margin-right: auto;
}

// top 
.right-top-nav {
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 30px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    margin-right: 30px;
}

.nav-logout-button{
    color: #fff;
    border: 2px solid #fff;
    font-weight: 700;
    box-shadow: none;
    padding: 10px;
    cursor: pointer;
    width: 80px;
    height: 35px;
    text-align: center;
    background-color: transparent;
}

.splash-nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-size: 14px;
    color: white;
}

.splash-to-busi {
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: space-around;
    width: 300px;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
  
}

.nav-login{
    font-size: 20px;
   
    
}
.nav-signup  {
    font-size: 20px;
    
}

// main
.splash-main {
    background-image: asset-url("ramen.jpg");
    filter: brightness(90%);
    background-size: 100% 100%;
    object-fit: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    background-position: center;

}
.splash {
    // margin-top: 0%;
}
// category box 

.splash-itembox-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background: #fff;
}

.splash-box-name {
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 20px;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    
    color: #d32323;
}

.splash-item-box {
    display: flex;
    flex-direction: row;
    height: 250px;
    // width: 900px;
    justify-content: space-between;
    margin-bottom: 85px;
    width: 80%;
    
}
.splash-item-box img {
    display: block;
    
}

.splashcategory {
    display: block;
    flex-direction: column;
    width: 22%;
    height: 275px;
    border-radius: 3px;
    cursor: pointer;
}

.all-categories-pic {
    background-image: asset-url("busi.png");
    background-size: cover;
    background-repeat: no-repeat;
    // background-position-x: -20px;
    height: 100%
}

.all-category-words {
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d32323;
    font-size: 18px;
    font-weight: bold;
    height: 10%;
    margin-top: 10px;
    
}

.american-pic {
    background-image: asset-url("american.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -20px;
    height: 100%
}

.american-words {
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d32323;
    font-size: 18px;
    font-weight: bold;
    height: 10%;
    margin-top: 10px;
}

.japan-pic {
    background-image: asset-url("japan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%
}

.japan-words {
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d32323;
    font-size: 18px;
    font-weight: bold;
    height: 10%;
    margin-top: 10px;
}

.bar-pic {
    background-image: asset-url("bar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%
}

.bar-words {
        font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d32323;
    font-size: 18px;
    font-weight: bold;
    height: 10%;
    margin-top: 10px;
}