
.map{
    // height: 500px;
    // width: 500px;
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    /* position: fixed; */

    height: 100%;
    position: relative;
    overflow: hidden;

}

.map-box{
    width: 40%;
    height: 75vh;
    // position: fixed;
    margin-left: 35px;
    margin-top: 98px;
}