// parent
.pbusi-nav-bar{
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 15px;
    
}

.busi-nav-top{
    background: #d61f1f;
    height: 70px;
}

.busi-nav-top{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 70px;
}

.business-nav-search {
    border: solid white;
}


// headbar

.head-bar-right {
    width: 275px;
    height: 28px;
    font-weight: 700;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.head-to-home {
    padding-right: 15px;
    margin-top: 8px;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    justify-content: space-around;
    cursor: pointer;
}
#logout{
    display: flex;
    flex-direction: row-reverse;
}

// categories
.busi-categories{

}

.busi-category-box{
    display: flex;
    max-width: 900px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    margin:  auto;
   
}

.nav-bar-category-item{
    font-weight: bold;
    color: #22407e;
}

.fab fa-yelp{

}
