// parent
.pbusi-nav-bar{
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 15px;
    
}

.busi-nav-top{
    background: #d61f1f;
    height: 70px;
}

.busi-nav-top{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 70px;
}

.business-nav-search {
    border: solid white;
    width: 55%;
    
}


// headbar

.head-bar-right {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    width: 175px;
    padding-right: 40px;
    height: 28px;
    font-weight: 700;
    color: white;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.head-to-home {
    display: flex;
    width: 150px;
    padding-right: 40px;
    height: 28px;
    font-weight: 700;
    color: white;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}



// categories
.busi-categories{
    align-items: center;
}

.busi-category-box{
    padding-top: 5px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: flex;
    max-width: 900px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    margin:  auto;
   
}

.nav-bar-category-item{
    font-weight: bold;
    color: #22407e;
}

.fab fa-yelp{

}
